<app-gesture-receiver>
  <div class="content flex flex-column">
    <div class="background" [class.blur]="!!currentlyPlaying" [style.backgroundImage]="background"></div>
    <div class="flex flex-row toolbar">
      <button appButton class="icon" routerLink="/settings">
        <app-icon icon="cog"></app-icon>
      </button>
    </div>

    <div *ngIf="currentlyPlaying" class="flex flex-row">
      <div class="flex flex-grow"></div>
      <div class="cover" [style.backgroundImage]="background"></div>
      <div class="flex flex-grow"></div>
    </div>
    <div *ngIf="currentlyPlaying" class="song-info">
      <p class="title">{{ currentlyPlaying.name }}</p>
      <p class="info">{{ artists }} - {{ currentlyPlaying.album.name }}</p>
    </div>
    <div class="flex flex-grow"></div>
  </div>
</app-gesture-receiver>
